.errorSpace {
    
    width: 100%;
    display: grid;
    place-content: center;
    min-height: 100vh;
    
}

.errorSpace  img {
   width: 80%;
   height: auto;
  
}

/* .footerError { 
    position: relative;
    bottom: 5vh;
} */