@font-face {
  font-family: 'Century Gothic';
  src: url('../assets/fonts/Century Gothic.ttf') format('truetype');
}



.header-navbar { 
  position: fixed;
  top: 0;
  z-index: 999;
}


.hero-space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 105vh;
}


.hero-slider{
  width: 95%;
  height: 100vh;
}

.separador-pass {
  margin: 0vh 0;
  width: 100%;
  height: auto;
}

.hidden-id {
  margin: 0vh 0 7vh 0;
  width: 100%;
  height: 5vh;

  visibility: hidden;
}

.articuloPass-space {
  margin: 5vh 0 20vh 0;
  /* background-color: blue; */
  width: 100%;
  height: 75vh;

  display: flex;
  justify-content: center;
}

.articuloPass {
  position: relative;
  /* background-color: #E53F15; */
  width: 95%;
  height: 75vh;
}

.articuloPass > .fotoHome1 {
  position: absolute;
  left: 0;
  bottom: 2vh;
  width: auto;
  height: 52vh;
  z-index: 1;
}

.articuloPass > .fotoHome2 {
  position: absolute;
  left: 15%;
  top: 0;
  width: auto;
  height: 62vh;
}

.articuloPass > .articuloSpace1 {
  position: absolute;
  top: 0;
  right: 0;

  background-color: #fff;
  border: 1px solid #CBCBCB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  width: 45vw;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: left;
}

.articuloPass > .articuloSpace1 > .articuloText {
  margin-left: 5vh;
  /* background-color: #E53F15; */
  width: 80%;
  height: 90%;
  color: #000;
}

.articuloText > h2 {
  padding: 3vh 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.articuloText > p {
  font-family: 'Century Gothic';
  font-size: 1.2rem;
  font-weight: 400;
}

.articuloPass > .articuloSpace2 {
  position: absolute;
  bottom: -10vh;
  left: 0;

  background-color: #fff;
  border: 1px solid #CBCBCB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  width: 45vw;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: left;
}

.articuloPass > .articuloSpace2 > .articuloText {
  margin-left: 5vh;
  /* background-color: #E53F15; */
  width: 80%;
  height: 90%;
  color: #000;
}

.articuloPass > .fotoHome3 {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 70vh;
}

.articuloPass > .articuloSpace3 {
  position: absolute;
  top: 0vh;
  right: 0;

  background-color: #fff;
  border: 1px solid #CBCBCB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  width: 45vw;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: left;
}

.articuloPass > .articuloSpace3 > .articuloText {
  margin-left: 10vh;
  /* background-color: #E53F15; */
  width: 80%;
  height: 90%;
  color: #000;
}

.articuloPass > .fotoHome4 {
  position: absolute;
  top: 7vh;
  left: 8vw;
  width: auto;
  height: 60vh;
  z-index: 1;
}

.ubicaciones-section {
  background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/MAPA.png");
  background-size: cover;
  width: 100%;
  height: 75vh;
  position: relative;

  margin-bottom: 5vh;
}



.ubicaciones-section > .overlay-ubicaciones {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  cursor: pointer;
}


.text-container {
  /* background-color: blue; */
  width: 75%;
  height: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.text-container > img {
  width: 8vw;
  height: auto;

  margin-bottom: 2vh;
}

.text-container > h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;

  margin: 0.2rem 0;
}

.text-container > p {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 0;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.span-ubi{
  color: #FAC02E;
}

.maps-icons {
  width: 12%;
  height: 15%;
  background-color: transparent;

  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0vw;
}

  .maps-icons img {
    width: 5vw;
    height: auto;
  }

.articuloPass-space2 {
  margin: 5vh 0 20vh 0;
  /* background-color: blue; */
  width: 100%;
  height: 120vh;

  display: flex;
  justify-content: center;
}

.articuloPass2 {
  position: relative;
  /* background-color: #E53F15; */
  width: 95%;
  height: 120vh;
}

.articuloPass2 .fotoHome5 {
  position: relative;
  width: auto;
  height: 120vh;

}

.articuloPass2 .fotoHome6 {
  position: absolute;
  bottom: 0vh;
  left: 42vw;
  width: auto;
  height: 60vh;

}

.articuloPass2 > .articuloSpace3 {
  position: absolute;
  top: 8vh;
  right: 5vw;

  background-color: #fff;
  border: 1px solid #CBCBCB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  width: 45vw;
  height: 45vh;

  display: flex;
  align-items: center;
  justify-content: left;
}

.articuloPass2 > .articuloSpace3 > .articuloText3 {
  margin-left: 0vh;
  /* background-color: #E53F15; */
  width: 95%;
  height: 95%;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

 
.articuloText3 > h2 {
  margin: .1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.articuloText3 > p {
  font-family: 'Century Gothic';
  font-size: 1.2rem;
  font-weight: 400;
  margin: .1rem 0;
}


.articuloPass2 > .articuloSpace4 {
  position: absolute;
  bottom: 0vh;
  right: 0;

  background-color: #fff;
  border: 1px solid #CBCBCB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  width: 27vw;
  height: 47vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.articuloPass2 > .articuloSpace4 > .articuloText4 {
  margin-left: 0vh;
  /* background-color: #E53F15; */
  width: 95%;
  height: 95%;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.articuloText4 > h2 {
  margin: .5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.articuloText4 > p {
  font-family: 'Century Gothic';
  font-size: 1.2rem;
  font-weight: 400;
  margin: .5rem 0;
}

.promocion-container {
  background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/promocion-desktop.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;

  position: relative;
  margin-bottom: 10vh;
}

.promocion-container .lubricante-promociones {
  width: auto;
  height: 100vh;

  position: absolute;
  bottom: -10vh;
}

.promocion-container .text-promociones {
  /* background-color: green; */
  width: 28vw;
  height: 70vh;

  position: absolute;
  left: 21vw;
  top: 10vh;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.text-promociones > article > h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}

.text-promociones > article > p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}

.text-promociones > a  {
  text-decoration: none;
  margin-bottom: 8vh;
}

.text-promociones > a > span {
  background-color: transparent;
  padding: 1.5vh 1.5vw;
  border: 1px solid #fff;
  border-radius: .5rem;

  color: #fff;
  font-size: 1.5rem;
}

.comentarios-section {
  /* background-color: blue; */
  width: 100%;
  height: 80vh;
  margin-bottom: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.comentarios-space {
  /* background-color: yellow; */
  width: 95%;
  height: 80vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;

}

.comentarios-space > h2 {
  position: relative;
  right: 5vw;

  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comentarios-space .div-comentarios {
  /* background-color: green; */
  width: 100%;
  height: 70vh;

  display: flex;
  align-items: start;
  
}

.div-comentarios .comentario1 {
  background-color: #fff;
  width: calc(100%/3);
  height: 60%;

  border: 1px solid #9B9B9B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.div-comentarios .comentario2 {
  position: relative;
  top: 40%;

  background-color: #fff;
  width: calc(100%/3);
  height: 60%;

  border: 1px solid #9B9B9B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.div-comentarios .comentario3 {
  background-color: #fff;
  width: calc(100%/3);
  height: 60%;

  border: 1px solid #9B9B9B;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.comentario-box {
  /* background-color: yellow; */
  width: 92%;
  height: 95%;

  display: flex;
  flex-direction: column;
  

}

.comentario-box .comentario-article {
  /* background-color: green; */
  width: 100%;
  height: 60%;
}

.comentario-box .comentario-article > p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;

  margin: 2vh 0;
}

.comentario-box .perfil-comentario {
  /* background-color: red; */
  width: 100%;
  height: 40%;

  display: flex;
  align-items: end;
  justify-content: left;

  gap: 1vw;
}

.perfil-comentario .perfil-img {
  /* background-color: blue; */
  width: 5rem;
  height: 5rem;

 
}

.perfil-img img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.perfil-comentario .perfil-name {
  /* background-color: green; */
  width: 60%;
  height: 5rem;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.perfil-name h5 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;

  margin: .1rem 0;
}

.perfil-name p {
  color: #000;
  font-size: 1rem;
  font-weight: 600;

  margin: .1rem 0;
}

.servicios-section {
  position: relative;
  /* top: 125vh; */
  background-color: #E53F15;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 5vh;
  padding-bottom: 15vh;

  gap: 5vh;
}

.servicios-section h1 {
  color: #fff;
  font-size: 4rem;
}

.services-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: black; */
  width: 95%;
  height: 50vh;

  gap: 4vw;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-item img {
  width: 12vw;
  height: auto;
}

.icon-item h3 {
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
}

.footerHome {
  position: relative;
  /* top: 125vh; */
}

/*************** Pantallas Desktop/Tv o mayores 1440px *******************/
@media (min-width: 2000px) {

  .articuloPass > .articuloSpace1 {

    border: 2px solid #CBCBCB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
  
  }

  
  .articuloText > h2 {
    padding: 3vh 0;
    font-size: 5rem;
    font-weight: 700;
  }
  
  .articuloText > p {
    font-family: 'Century Gothic';
    font-size: 2.4rem;
    font-weight: 400;
  }
  
  .articuloPass > .articuloSpace2 {

    border: 2px solid #CBCBCB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
 
  }
  

  
  .articuloPass > .articuloSpace3 {

    border: 2px solid #CBCBCB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */

  }

  
  .text-container > h1 {
    font-size: 6rem;
  }
  
  .text-container > p {
    font-size: 3.5rem;
  }

  
  .articuloPass-space2 {
    margin: 5vh 0 20vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 120vh;
  
    display: flex;
    justify-content: center;
  }
  

  .articuloPass2 > .articuloSpace3 {

    border: 2px solid #CBCBCB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */

  }
  
   
  .articuloText3 > h2 {
    font-size: 5rem;
  }
  
  .articuloText3 > p {
    font-size: 2.4rem;
  }
  
  
  .articuloPass2 > .articuloSpace4 {

    border: 2px solid #CBCBCB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */

  }
  

  .articuloText4 > h2 {

    font-size: 5rem;

  }
  
  .articuloText4 > p {
    font-size: 2.4rem;
  }
  

  
  .text-promociones > article > h2 {

    font-size: 6rem;

  }
  
  .text-promociones > article > p {
   
    font-size: 2.5rem;
  
  }
  
  
  .text-promociones > a > span {

    border: 2px solid #fff;
    border-radius: 1rem;

    font-size: 3rem;
  }
  
  
  .comentarios-space > h2 { 

    font-size: 6rem;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

  }
  
  
  .div-comentarios .comentario1 {
  
    border: 2px solid #9B9B9B;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);

  }
  
  .div-comentarios .comentario2 {

    border: 2px solid #9B9B9B;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);

  }
  
  .div-comentarios .comentario3 {
  
    border: 2px solid #9B9B9B;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  
  }

  
  
  .comentario-box .comentario-article > p {
   
    font-size: 2.5rem;
    
  }
  

  
  .perfil-comentario .perfil-img {
 
    width: 10rem;
    height: 10rem;
  
  }
  

  
  .perfil-comentario .perfil-name {
    /* background-color: green; */
    width: 60%;
    height: 10rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .perfil-name h5 {

    font-size: 2.4rem;

  }
  
  .perfil-name p {

    font-size: 2rem;

  }
  
  
  .servicios-section h1 {

    font-size: 8rem

  }
  
  .services-icons {

    gap: 4vw;

  }
  

  
  .icon-item h3 {
    
    font-size: 5rem;
 
  }
  
  .footerHome {
    position: relative;
    /* top: 125vh; */
  }
}

/*************** Pantallas laptop o tablet, menores 1024px *******************/
@media (max-width: 1024px) {


  .articuloText > h2 {

    font-size: 2rem;

  }
  
  .articuloText > p {

    font-size: 1rem;

  }
  

  
  .articuloPass > .fotoHome4 {

    left: 5vw;

  }
  
  
  .text-container > h1 {
   
    font-size: 2.5rem;
 
  }
  
  .text-container > p {
  
    font-size: 1.25rem;
  
  }
  
   
  .articuloText3 > h2 {

    font-size: 2.5rem;

  }
  
  .articuloText3 > p {

    font-size: 1.2rem;
 
  }
  
  
  
  .articuloText4 > h2 {
    margin: .8rem 0 .1rem 0;
    font-size: 2.2rem;
  }
  
  .articuloText4 > p {

    font-size: 1.1rem;

  }
  
  
  .text-promociones > article > h2 {
    
    font-size: 2.5rem;
    
  }
  
  .text-promociones > article > p {
  
    font-size: 1rem;
 
  }
  
  
  .text-promociones > a > span {
   
    font-size: 1.25rem;

  }
  
  
  .comentarios-space > h2 {
  
    font-size: 2.5rem;

  }
  

  
  .comentario-box .comentario-article > p {
    
    font-size: 1.15rem;

  }
  
 
  
  .perfil-comentario .perfil-img {
    /* background-color: blue; */
    width: 3.5rem;
    height: 3.5rem;
  
  }

  
  .perfil-comentario .perfil-name {
    /* background-color: green; */
    width: 60%;
    height: 4rem;

  }
  
  
  .servicios-section h1 {
   
    font-size: 3.5rem;
  }

  
  .icon-item h3 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
  
  .footerHome {
    position: relative;
    /* top: 125vh; */
  }

}


/*************** Pantallas tablet o moviles, 768px *******************/
@media (max-width: 950px) {

  .hero-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  
  
  .hero-slider{
    width: 95%;
    height: 45vh;
  }
  
  
  .articuloPass-space {
    margin: 15vh 0 0vh 0;
    /* background-color: blue */;
    width: 100%;
    height: 50vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 50vh;
  }
  
  .articuloPass > .fotoHome1 {
    position: absolute;
    left: 0;
    bottom: -1vh;
    width: auto;
    height: 28vh;
    z-index: 1;
  }
  
  .articuloPass > .fotoHome2 {
    position: absolute;
    left: 10%;
    top: 0;
    width: auto;
    height: 35vh;
  }
  
  .articuloPass > .articuloSpace1 {
    position: absolute;
    top: 0;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 45vw;
    height: 50vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace1 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloText > h2 {
    padding: 0vh 0;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }
  
  .articuloText > p {
    font-family: 'Century Gothic';
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  .articuloPass > .articuloSpace2 {
    position: absolute;
    bottom: -10vh;
    left: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 45vw;
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace2 > .articuloText {
    margin-left: 2vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome3 {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 30vh;
  }
  
  .articuloPass > .articuloSpace3 {
    position: absolute;
    top: 0vh;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 45vw;
    height: 45vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace3 > .articuloText {
    margin-left: 6vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome4 {
    position: absolute;
    top: 7vh;
    left: 0vw;
    width: auto;
    height: 28vh;
    z-index: 1;
  }
  
  .ubicaciones-section {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/MAPA.png");
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
  
    margin-bottom: 5vh;
  }
  
  
  
  .text-container > img {
    width: 15vw;
    height: auto;
  
    margin-bottom: 2rem;
  }
  
  .text-container > h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;
  
    margin: 1rem 0;
  }
  
  .text-container > p {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 0;
    line-height: normal;
    margin-bottom: 1.5rem;
  }

  
  .maps-icons {
    width: 24%;
    height: 15%;
    /* background-color: green; */
  
    position: absolute;
    bottom: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0vw;
  }

  .maps-icons img {
    width: 10vw;
    height: auto;
  }
  
  .articuloPass-space2 {
    margin: 5vh 0 5vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass2 {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 100vh;
  }
  
  .articuloPass2 .fotoHome5 {
    position: relative;
    width: auto;
    height: 60vh;
  
  }
  
  .articuloPass2 .fotoHome6 {
    position: absolute;
    bottom: 0vh;
    left: 50.5%;
    width: auto;
    height: 45vh;
  
  }
  
  .articuloPass2 > .articuloSpace3 {
    position: absolute;
    top: 6vh;
    right: 0vw;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 50vw;
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass2 > .articuloSpace3 > .articuloText3 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   
  .articuloText3 > h2 {
    margin: .1rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  
  .articuloText3 > p {
    font-family: 'Century Gothic';
    font-size: 1.2rem;
    font-weight: 400;
    margin: .1rem 0;
  }
  
  
  .articuloPass2 > .articuloSpace4 {
    position: absolute;
    bottom: 5vh;
    left: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 55vw;
    height: 27vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .articuloPass2 > .articuloSpace4 > .articuloText4 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .articuloText4 > h2 {
    margin: .5rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .articuloText4 > p {
    font-family: 'Century Gothic';
    font-size: 1.2rem;
    font-weight: 400;
    margin: .5rem 0;
  }
  
  .promocion-container {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/promocion-movil.png");
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
  
    position: relative;
    margin-bottom: 10vh;
  }
  
  .promocion-container .lubricante-promociones {
    width: auto;
    height: 45vh;
  
    position: absolute;
    bottom: -5vh;
  }
  
  .promocion-container .text-promociones {
    /* background-color: green; */
    width: 28vw;
    height: 40vh;
  
    position: absolute;
    left: 21vw;
    top: 5vh;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  
  .text-promociones > article > h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 0.5rem;
  }
  
  .text-promociones > article > p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .text-promociones > a  {
    margin-top: 5vh;
    text-decoration: none;
    margin-bottom: 8vh;
  }
  
  .text-promociones > a > span {
    margin-top: 5vh;
    background-color: transparent;
    padding: 1.5vh 1.5vw;
    border: 1px solid #fff;
    border-radius: .5rem;
  
    color: #fff;
    font-size: 1.5rem;
  }
  
  .comentarios-section {
    /* background-color: blue; */
    width: 100%;
    height: 80vh;
    margin-bottom: 5vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comentarios-space {
    /* background-color: yellow; */
    width: 95%;
    height: 80vh;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  
  }
  
  .comentarios-space > h2 {
    position: relative;
    right: 5vw;
  
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .comentarios-space .div-comentarios {
    /* background-color: green; */
    width: 100%;
    height: 70vh;
  
    display: flex;
    align-items: start;
    
  }
  
  .div-comentarios .comentario1 {
    background-color: #fff;
    width: calc(100%/3);
    height: 40%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario2 {
    position: relative;
    top: 40%;
  
    background-color: #fff;
    width: calc(100%/3);
    height: 40%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario3 {
    background-color: #fff;
    width: calc(100%/3);
    height: 40%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comentario-box {
    /* background-color: yellow; */
    width: 92%;
    height: 95%;
  
    display: flex;
    flex-direction: column;
    
  
  }
  
  .comentario-box .comentario-article {
    /* background-color: green; */
    width: 100%;
    height: 60%;
  }
  
  .comentario-box .comentario-article > p {
    color: #000;
    font-size: 1.15rem;
    font-weight: 500;
  
    margin: 2vh 0;
  }
  
  .comentario-box .perfil-comentario {
    /* background-color: red; */
    width: 100%;
    height: 40%;
  
    display: flex;
    align-items: end;
    justify-content: left;
  
    gap: 1rem;
  }
  
  .perfil-comentario .perfil-img {
    /* background-color: blue; */
    width: 5rem;
    height: 5rem;
  
   
  }
  
  .perfil-img img {
    width: 100%;
    height: 100%;
  
    border-radius: 50%;
  }
  
  .perfil-comentario .perfil-name {
    /* background-color: green; */
    width: 60%;
    height: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .perfil-name h5 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
  
    margin: .1rem 0;
  }
  
  .perfil-name p {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
  
    margin: .1rem 0;
  }
  
  .servicios-section {
    position: relative;
    /* top: 125vh; */
    background-color: #E53F15;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  
  .servicios-section h1 {
    color: #fff;
    font-size: 3.5rem;
  }
  
  .services-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    /* background-color: black; */
    width: 95%;
    height: 50vh;
  
    gap: 5vw;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon-item img {
    width: 20vw;
    height: auto;
  }
  
  .icon-item h3 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
  
  .footerHome {
    position: relative;
    /* top: 125vh; */
  }
}

/*************** Pantallas moviles talla L/M/S, 425px *******************/
@media (max-width: 600px) {
  .hero-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  
  
  .hero-slider{
    width: 95%;
    height: 45vh;
  }
  
  .separador-pass {
    margin: 5vh 0;
    width: 100%;
    height: auto;
  }
  
  .articuloPass-space {
    margin: 5vh 0 10vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 75vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 75vh;
  }
  
  .articuloPass > .fotoHome1 {
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: auto;
    height: 30vh;
    z-index: 1;
  }
  
  .articuloPass > .fotoHome2 {
    position: absolute;
    left: 31%;
    top: 50%;
    width: auto;
    height: 30vh;
  }
  
  .articuloPass > .articuloSpace1 {
    position: absolute;
    top: 0;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 35vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace1 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloText > h2 {
    padding: 0vh 0;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .articuloText > p {
    font-family: 'Century Gothic';
    font-size: 1rem;
    font-weight: 400;
  }
  
  .articuloPass > .articuloSpace2 {
    position: absolute;
    bottom: 4vh;
    left: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 35vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace2 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome3 {
    position: absolute;
    top: 5%;
    right: 0;
    width: auto;
    height: 30vh;
  }
  
  .articuloPass > .articuloSpace3 {
    position: absolute;
    top: 3vh;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 35vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace3 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome4 {
    position: absolute;
    top: 55%;
    left: 8vw;
    width: auto;
    height: 30vh;
    z-index: 1;
  }
  
  .ubicaciones-section {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/MAPA.png");
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
  
    margin-bottom: 5vh;
  }
  
  
  
  .ubicaciones-section > .overlay-ubicaciones {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .text-container {
    /* background-color: blue; */
    width: 75%;
    height: 75%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .text-container > img {
    width: 15vw;
    height: auto;
  
    margin-bottom: 1rem;
  }
  
  .text-container > h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
  
    margin: 0.2rem 0;
    text-align: center;
  }
  
  .text-container > p {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 0;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
  
  .span-ubi{
    color: #FAC02E;
  }
  
  .maps-icons {
    width: 25%;
    height: 15%;
    background-color: transparent;
  
    position: absolute;
    bottom: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  
  .articuloPass-space2 {
    margin: 5vh 0 20vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 170vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass2 {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 170vh;
  }
  
  .articuloPass2 .fotoHome5 {
    position: absolute;
    top: 35vh;

    width: auto;
    height: 55vh;
  
  }
  
  .articuloPass2 .fotoHome6 {
    position: absolute;
    bottom: 35vh;
    left: 19vw !important;
    width: auto;
    height: 55vh;
  
  }
  
  .articuloPass2 > .articuloSpace3 {
    position: absolute;
    top: 0vh;
    right: 0vw;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 30vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass2 > .articuloSpace3 > .articuloText3 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   
  .articuloText3 > h2 {
    margin: .1rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  
  .articuloText3 > p {
    font-family: 'Century Gothic';
    font-size: .9rem;
    font-weight: 400;
    margin: .1rem 0;
  }
  
  
  .articuloPass2 > .articuloSpace4 {
    position: absolute;
    bottom: 0vh;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 30vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .articuloPass2 > .articuloSpace4 > .articuloText4 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .articuloText4 > h2 {
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .articuloText4 > p {
    font-family: 'Century Gothic';
    font-size: .9rem;
    font-weight: 400;
    margin: .5rem 0;
  }
  
  .promocion-container {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/promocion-movil.png");
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
  
    position: relative;
    margin-bottom: 10vh;
  }
  
  .promocion-container .lubricante-promociones {
    width: auto;
    height: 37vh;
  
    position: absolute;
    bottom: -3vh;
  }
  
  .promocion-container .text-promociones {
    /* background-color: green; */
    width: 45vw;
    height: 45vh;
  
    position: absolute;
    left: 23vw;
    top: 0vh;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  
  .text-promociones > article > h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .text-promociones > article > p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .text-promociones > a  {
    text-decoration: none;
    margin-bottom: 8vh;
  }
  
  .text-promociones > a > span {
    background-color: transparent;
    padding: 1.5vh 1.5vw;
    border: 1px solid #fff;
    border-radius: .5rem;
  
    color: #fff;
    font-size: 1.2rem;
  }
  
  .comentarios-section {
    /* background-color: blue; */
    width: 100%;
    height: 120vh;
    margin-bottom: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comentarios-space {
    /* background-color: yellow; */
    width: 95%;
    height: 120vh;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  
  }
  
  .comentarios-space > h2 {
    position: relative;
    right: 5vw;
  
    font-size: 2.5rem;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .comentarios-space .div-comentarios {
    /* background-color: green; */
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 3vh;
  }
  
  .div-comentarios .comentario1 {
    background-color: #fff;
    width: calc(95%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario2 {
    position: relative;
    top: 0%;
  
    background-color: #fff;
    width: calc(95%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario3 {
    background-color: #fff;
    width: calc(95%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comentario-box {
    /* background-color: yellow; */
    width: 92%;
    height: 95%;
  
    display: flex;
    flex-direction: column;
    
  
  }
  
  .comentario-box .comentario-article {
    /* background-color: green; */
    width: 100%;
    height: 60%;
  }
  
  .comentario-box .comentario-article > p {
    color: #000;
    font-size: 1.15rem;
    font-weight: 500;
  
    margin: 2vh 0;
  }
  
  .comentario-box .perfil-comentario {
    /* background-color: red; */
    width: 100%;
    height: 40%;
  
    display: flex;
    align-items: end;
    justify-content: left;
  
    gap: 1rem;
  }
  
  .perfil-comentario .perfil-img {
    /* background-color: blue; */
    width: 5rem;
    height: 5rem;
  
   
  }
  
  .perfil-img img {
    width: 100%;
    height: 100%;
  
    border-radius: 50%;
  }
  
  .perfil-comentario .perfil-name {
    /* background-color: green; */
    width: 60%;
    height: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .perfil-name h5 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
  
    margin: .1rem 0;
  }
  
  .perfil-name p {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
  
    margin: .1rem 0;
  }
  
  .servicios-section {
    position: relative;
    /* top: 125vh; */
    background-color:  #E53F15;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  
  .servicios-section h1 {
    color: #fff;
    font-size: 2rem;
  }
  
  .services-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* background-color: black; */
    width: 95%;
    height: 50vh;
  
    gap: 4vw;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: .75rem;
  }
  
  .icon-item img {
    width: 15vw;
    height: auto;
  }
  
  .icon-item h3 {
    color: #fff;
    font-size: 1em;
    text-align: center;
  }
  
  .footerHome {
    position: relative;
    /* top: 125vh; */
  }
}
  
/*************** Pantallas moviles talla L/M/S, 425px *******************/
@media (max-width: 320px) {
  .hero-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  
  
  .hero-slider{
    width: 95%;
    height: 45vh;
  }
  
  .separador-pass {
    margin: 5vh 0;
    width: 100%;
    height: auto;
  }
  
  .articuloPass-space {
    margin: 5vh 0 10vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 75vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 75vh;
  }
  
  .articuloPass > .fotoHome1 {
    position: absolute;
    left: 0;
    bottom: 0vh;
    width: auto;
    height: 30vh;
    z-index: 1;
  }
  
  .articuloPass > .fotoHome2 {
    position: absolute;
    left: 31%;
    top: 50%;
    width: auto;
    height: 30vh;
  }
  
  .articuloPass > .articuloSpace1 {
    position: absolute;
    top: 0;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace1 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloText > h2 {
    padding: 0vh 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .articuloText > p {
    font-family: 'Century Gothic';
    font-size: .7rem;
    font-weight: 400;
  }
  
  .articuloPass > .articuloSpace2 {
    position: absolute;
    bottom: 4vh;
    left: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 35vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace2 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome3 {
    position: absolute;
    top: 5%;
    right: 0;
    width: auto;
    height: 30vh;
  }
  
  .articuloPass > .articuloSpace3 {
    position: absolute;
    top: 3vh;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass > .articuloSpace3 > .articuloText {
    margin-left: 5vh;
    /* background-color: #E53F15; */
    width: 80%;
    height: 90%;
    color: #000;
  }
  
  .articuloPass > .fotoHome4 {
    position: absolute;
    top: 55%;
    left: 8vw;
    width: auto;
    height: 30vh;
    z-index: 1;
  }

  .ubicaciones-section {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/MAPA.png");
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;
  
    margin-bottom: 5vh;
  }
  
  
  
  .ubicaciones-section > .overlay-ubicaciones {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .text-container {
    /* background-color: blue; */
    width: 75%;
    height: 75%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .text-container > img {
    width: 15vw;
    height: auto;
  
    margin-bottom: 1rem;
  }
  
  .text-container > h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  
    margin: 0.2rem 0;
  }
  
  .text-container > p {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 0;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
  
  
  .maps-icons {
    width: 25%;
    height: 15%;
    background-color: transparent;
  
    position: absolute;
    bottom: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  
  .articuloPass-space2 {
    margin: 5vh 0 20vh 0;
    /* background-color: blue; */
    width: 100%;
    height: 170vh;
  
    display: flex;
    justify-content: center;
  }
  
  .articuloPass2 {
    position: relative;
    /* background-color: #E53F15; */
    width: 95%;
    height: 170vh;
  }
  
  .articuloPass2 .fotoHome5 {
    position: absolute;
    top: 35vh;

    width: auto;
    height: 55vh;
  
  }
  
  .articuloPass2 .fotoHome6 {
    position: absolute;
    bottom: 35vh;
    left: 19vw !important;
    width: auto;
    height: 55vh;
  
  }
  
  .articuloPass2 > .articuloSpace3 {
    position: absolute;
    top: 0vh;
    right: 0vw;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 30vh;
  
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .articuloPass2 > .articuloSpace3 > .articuloText3 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   
  .articuloText3 > h2 {
    margin: .1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  
  .articuloText3 > p {
    font-family: 'Century Gothic';
    font-size: .7rem;
    font-weight: 400;
    margin: .1rem 0;
  }
  
  
  .articuloPass2 > .articuloSpace4 {
    position: absolute;
    bottom: 0vh;
    right: 0;
  
    background-color: #fff;
    border: 1px solid #CBCBCB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    width: 100%;
    height: 30vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .articuloPass2 > .articuloSpace4 > .articuloText4 {
    margin-left: 0vh;
    /* background-color: #E53F15; */
    width: 95%;
    height: 95%;
    color: #000;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .articuloText4 > h2 {
    margin: .5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .articuloText4 > p {
    font-family: 'Century Gothic';
    font-size: .8rem;
    font-weight: 400;
    margin: .5rem 0;
  }
  
  .promocion-container {
    background-image: url("https://s3.amazonaws.com/passfuel.com/Recuros-passfuel/home/promocion-movil.png");
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
  
    position: relative;
    margin-bottom: 10vh;
  }
  
  .promocion-container .lubricante-promociones {
    width: auto;
    height: 37vh;
  
    position: absolute;
    bottom: -3vh;
  }
  
  .promocion-container .text-promociones {
    /* background-color: green; */
    width: 50vw;
    height: 45vh;
  
    position: absolute;
    left: 23vw;
    top: 0vh;
  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  
  .text-promociones > article > h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  .text-promociones > article > p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .text-promociones > a  {
    text-decoration: none;
    margin-bottom: 8vh;
  }
  
  .text-promociones > a > span {
    background-color: transparent;
    padding: 1.5vh 1.5vw;
    border: 1px solid #fff;
    border-radius: .5rem;
  
    color: #fff;
    font-size: 1rem;
  }
  
  .comentarios-section {
    /* background-color: blue; */
    width: 100%;
    height: 150vh;
    margin-bottom: 10vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .comentarios-space {
    /* background-color: yellow; */
    width: 95%;
    height: 150vh;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  
  }
  
  .comentarios-space > h2 {
    position: relative;
    right: 5vw;
  
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .comentarios-space .div-comentarios {
    /* background-color: green; */
    width: 100%;
    height: 130vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 3vh;
  }
  
  .div-comentarios .comentario1 {
    background-color: #fff;
    width: calc(100%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario2 {
    position: relative;
    top: 0%;
  
    background-color: #fff;
    width: calc(100%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div-comentarios .comentario3 {
    background-color: #fff;
    width: calc(100%);
    height: 60%;
  
    border: 1px solid #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comentario-box {
    /* background-color: yellow; */
    width: 92%;
    height: 95%;
  
    display: flex;
    flex-direction: column;
    
  
  }
  
  .comentario-box .comentario-article {
    /* background-color: green; */
    width: 100%;
    height: 60%;
  }
  
  .comentario-box .comentario-article > p {
    color: #000;
    font-size: 1.15rem;
    font-weight: 500;
  
    margin: 2vh 0;
  }
  
  .comentario-box .perfil-comentario {
    /* background-color: red; */
    width: 100%;
    height: 40%;
  
    display: flex;
    align-items: end;
    justify-content: left;
  
    gap: 1rem;
  }
  
  .perfil-comentario .perfil-img {
    /* background-color: blue; */
    width: 5rem;
    height: 5rem;
  
   
  }
  
  .perfil-img img {
    width: 100%;
    height: 100%;
  
    border-radius: 50%;
  }
  
  .perfil-comentario .perfil-name {
    /* background-color: green; */
    width: 60%;
    height: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .perfil-name h5 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
  
    margin: .1rem 0;
  }
  
  .perfil-name p {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
  
    margin: .1rem 0;
  }
  
  .servicios-section {
    position: relative;
    /* top: 125vh; */
    background-color:  #E53F15;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  
  .servicios-section h1 {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .services-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* background-color: black; */
    width: 95%;
    height: 50vh;
  
    gap: 4vw;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;
  }
  
  .icon-item img {
    width: 15vw;
    height: auto;
  }
  
  .icon-item h3 {
    color: #fff;
    font-size: .8em;
    text-align: center;
  }
  
  .footerHome {
    position: relative;
    /* top: 125vh; */
  }
}